doctype html
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Stylish Portfolio Template for Bootstrap
    //
       Bootstrap core CSS 
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    //
       Add custom CSS here 
    link(href='stylesheets/stylish-portfolio.css', rel='stylesheet')
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet')
  body
    //
       Side Menu 
    a#menu-toggle.btn.btn-primary.btn-lg.toggle(href='#')
      i.fa.fa-bars
    #sidebar-wrapper
      ul.sidebar-nav
        a#menu-close.btn.btn-default.btn-lg.pull-right.toggle(href='#')
          i.fa.fa-times
        li.sidebar-brand
          a(href='http://startbootstrap.com') Start Bootstrap
        li
          a(href='#top') Home
        li
          a(href='#about') About
        li
          a(href='#services') Services
        li
          a(href='#portfolio') Portfolio
        li
          a(href='#contact') Contact
    //
       /Side Menu 
    //
       Full Page Image Header Area 
    #top.header
      .vert-text
        h1 Start Bootstrap
        h3
          em We
          | Build Great Templates,
          em You
          | Make Them Better
        a.btn.btn-default.btn-lg(href='#about') Find Out More
    //
       /Full Page Image Header Area 
    //
       Intro 
    #about.intro
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            h2 Subtle Sidebar is the Perfect Template for your Next Portfolio Website Project!
            p.lead
              | This template really has it all. It's up to you to customize it to your liking! It features some fresh photography courtesy of
              a(target='_blank', href='http://join.deathtothestockphoto.com/') Death to the Stock Photo
              | .
    //
       /Intro 
    //
       Services 
    #services.services
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            h2 Our Services
            hr
        .row
          .col-md-2.col-md-offset-2.text-center
            .service-item
              i.service-icon.fa.fa-rocket
              h4 Spacecraft Repair
              p
                | Did your navigation system shut down in the middle of that asteroid field? We can repair any dings and scrapes to your spacecraft!
          .col-md-2.text-center
            .service-item
              i.service-icon.fa.fa-magnet
              h4 Problem Solving
              p
                | Need to know how magnets work? Our problem solving solutions team can help you identify problems and conduct exploratory research.
          .col-md-2.text-center
            .service-item
              i.service-icon.fa.fa-shield
              h4 Blacksmithing
              p
                | Planning a time travel trip to the middle ages? Preserve the space time continuum by blending in with period accurate armor and weapons.
          .col-md-2.text-center
            .service-item
              i.service-icon.fa.fa-pencil
              h4 Pencil Sharpening
              p
                | We've been voted the best pencil sharpening service for 10 consecutive years. If you have a pencil that feels dull, we'll get it sharp!
    //
       /Services 
    //
       Callout 
    .callout
      .vert-text
        h1 A Dramatic Text Area
    //
       /Callout 
    //
       Portfolio 
    #portfolio.portfolio
      .container
        .row
          .col-md-4.col-md-offset-4.text-center
            h2 Our Work
            hr
        .row
          .col-md-4.col-md-offset-2.text-center
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-1.jpg')
              h4 Cityscape
          .col-md-4.text-center
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-2.jpg')
              h4 Is That On Fire?
        .row
          .col-md-4.col-md-offset-2.text-center
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-3.jpg')
              h4 Stop Sign
          .col-md-4.text-center
            .portfolio-item
              a(href='#')
                img.img-portfolio.img-responsive(src='img/portfolio-4.jpg')
              h4 Narrow Focus
    //
       /Portfolio 
    //
       Call to Action 
    .call-to-action
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            h3 The buttons below are impossible to resist.
            a.btn.btn-lg.btn-default(href='#') Click Me!
            a.btn.btn-lg.btn-primary(href='#') Look at Me!
    //
       /Call to Action 
    //
       Map 
    #contact.map
      iframe(width='100%', height='100%', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A&output=embed')
      br
      small
        a(href='https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&aq=0&oq=twitter&sll=28.659344,-81.187888&sspn=0.128789,0.264187&ie=UTF8&hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&t=m&z=15&iwloc=A')
    //
       /Map 
    //
       Footer 
    footer
      .container
        .row
          .col-md-6.col-md-offset-3.text-center
            ul.list-inline
              li
                i.fa.fa-facebook.fa-3x
              li
                i.fa.fa-twitter.fa-3x
              li
                i.fa.fa-dribbble.fa-3x
            .top-scroll
              a(href='#top')
                i.fa.fa-circle-arrow-up.scroll.fa-4x
            hr
            p Copyright © Company 2013
    //
       /Footer 
    //
       JavaScript 
    script(src='javascripts/jquery-1.10.2.js')
    script(src='javascripts/bootstrap.js')
    //
       Custom JavaScript for the Side Menu and Smooth Scrolling 
    script
      $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
    script
      $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
      });
    script
      $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
      $('html,body').animate({
      scrollTop: target.offset().top
      }, 1000);
      return false;
      }
      }
      });
      });
